---
import PanelLayout from "@/layouts/PanelLayout.astro";
import Sidebar from "@/components/Sidebar.astro";
import Navbar from "@/components/Navbar.astro";
import { recursosHumanosSections } from "@/data/NavbarSections";
import PanelMain from "@/components/PanelMain.astro";
import PanelHeader from "@/components/PanelHeader.astro";
import PanelTable from "@/components/PanelTable";

import { PERSONAS } from "@/data/Personas";
import { CARGOS } from "@/data/Cargos";
import { CONTRATOS } from "@/data/Contratos";
import { EMPLEADOS } from "@/data/Empleados";
const columnasEmpleados = [
  { label: "COD", key: "idEmpleado" },
  { label: "Nombres", key: "nombreCompleto" },
  { label: "Cargo", key: "nombreCargo" },
  { label: "Contrato", key: "nombreContrato" },
  { label: "Salario", key: "salario" },
  { label: "Turno", key: "turnoDescripcion" },
];
---

<PanelLayout>
  <Sidebar slot="sidebar" activeSection="empleados" />
  <Navbar
    slot="navbar"
    title="Recursos humanos"
    sections={recursosHumanosSections}
  />
  <PanelMain slot="main">
    <PanelHeader
      title="Empleados"
      descripcion="Administra la información personal y laboral de los empleados dentro de la organización."
    />

    <section class="panel-body" id="empleadosSection">
      <article class="controles">
        <label class="controles-label" for="buscarEmpelados">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input
            type="text"
            name="buscarEmpelados"
            id="buscarEmpelados"
            placeholder="Buscar por nombres"
          />
        </label>

        <div class="buttons-content">
          <button class="controles-btn primary" id="anadirEmpleados">
            <i class="fa-solid fa-plus"></i>
            Añadir empleado
          </button>
        </div>
      </article>

      <PanelTable
        columnas={columnasEmpleados}
        datos={EMPLEADOS}
        client:only="react"
      />
    </section>

    <dialog class="base-dialog" id="modalEmpleado">
      <form method="dialog" class="base-form" id="empleadosForm">
        <h2>Registrar nuevo empleado</h2>

        <div class="form-content">
          <div class="form-group">
            <label for="persona">Persona:</label>
            <select id="persona" name="persona" required>
              <option value="">—Seleccione una persona—</option>
              {
                PERSONAS.map((persona) => {
                  return (
                    <option value={persona.idPersona}>
                      {persona.nombreCompleto} : {persona.dni}
                    </option>
                  );
                })
              }
            </select>
          </div>

          <div class="form-group">
            <label for="cargo">Cargo:</label>
            <select id="cargo" name="cargo" required>
              <option value="">—Seleccione un cargo—</option>
              {
                CARGOS.map((cargo) => {
                  return (
                    <option value={cargo.idCargo}>{cargo.nombreCargo}</option>
                  );
                })
              }
            </select>
          </div>

          <div class="form-group">
            <label for="contrato">Contrato:</label>
            <select id="contrato" name="contrato" required>
              <option value="">—Seleccione un contrato—</option>
              {
                CONTRATOS.map((contrato) => {
                  return (
                    <option value={contrato.idContrato}>
                      {contrato.nombre}
                    </option>
                  );
                })
              }
            </select>
          </div>

          <div class="form-group">
            <label for="salario">Salario:</label>
            <input
              type="number"
              min="1"
              step="0.5"
              id="salario"
              name="salario"
              required
            />
          </div>

          <div class="form-group">
            <label for="turno">Turno:</label>
            <select id="turno" name="turno" required>
              <option value="">—Seleccione un turno—</option>
              <option value="M">Mañana</option>
              <option value="T">Tarde</option>
            </select>
          </div>

          <div class="dialog-actions">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="cerrar-btn" id="cerrarModal"
              >Cancelar</button
            >
          </div>
        </div>
      </form>
    </dialog>
  </PanelMain>
</PanelLayout>

<script>
  import Swal from "sweetalert2";

  document.addEventListener("DOMContentLoaded", () => {
    const btnAbrir = document.getElementById("anadirEmpleados");
    const modal = document.getElementById("modalEmpleado") as HTMLDialogElement;
    const btnCerrar = document.getElementById("cerrarModal");

    btnAbrir?.addEventListener("click", () => {
      modal.showModal();
    });

    btnCerrar?.addEventListener("click", () => {
      modal.close();
      (document.getElementById("persona") as HTMLInputElement).value = "";
      (document.getElementById("cargo") as HTMLInputElement).value = "";
      (document.getElementById("contrato") as HTMLInputElement).value = "";
      (document.getElementById("salario") as HTMLInputElement).value = "";
      (document.getElementById("turno") as HTMLInputElement).value = "";
    });

    document
      .getElementById("empleadosForm")!
      .addEventListener("submit", function (e) {
        e.preventDefault();

        const idpersona = (
          document.getElementById("persona") as HTMLSelectElement
        ).value;
        const idcargo = (document.getElementById("cargo") as HTMLSelectElement)
          .value;
        const idcontrato = (
          document.getElementById("contrato") as HTMLSelectElement
        ).value;
        const salario = (document.getElementById("salario") as HTMLInputElement)
          .value;
        const turno = (document.getElementById("turno") as HTMLSelectElement)
          .value;

        console.log({
          idpersona,
          idcargo,
          idcontrato,
          salario,
          turno,
          estado: 1,
        });

        modal.close();
        Swal.fire({
          title: "Empleado registrado con éxito!",
          icon: "success",
        });

        (document.getElementById("persona") as HTMLInputElement).value = "";
        (document.getElementById("cargo") as HTMLInputElement).value = "";
        (document.getElementById("contrato") as HTMLInputElement).value = "";
        (document.getElementById("salario") as HTMLInputElement).value = "";
        (document.getElementById("turno") as HTMLInputElement).value = "";
      });
  });
</script>
